body {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-weight: 100;
    padding-bottom: 2rem;
}
#bio {
    padding-top: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    width: 100%;
}
#lists {
    padding-left: 3rem;
    padding-right: 4rem;
}
.experience a {
    color: black;
}
.experience a:hover {
    color: grey;
    transition: 0.3s;
}
.social a {
    color: black;
}
.social a:hover {
    color: grey;
    transition: 0.3s;
}
.education a {
    color: black;
}
.education a:hover{
color: grey;
transition: 0.3s;
}
img {
    display: none;
}
@media only screen and (min-width: 768px) {
    #bio {
        padding-top: 3rem;
        padding-bottom: 2rem;
        padding-right: 5rem;
        width: 100%;
        text-align: justify;
    }
    #lists {
        padding-left: 3.2rem;
        padding-right: 7rem;
    }
    img {
        display: block;
        max-width: 30%;
        max-height: 30%;
        padding-left: 3rem;
        padding-top: 8rem;
        position: absolute;
    }
}

@media only screen and (min-width: 1024px) {
    #bio {
        padding-right: 0rem;
    }
    #lists {
        padding-right: 1rem;
    }
#spacing {
    padding-top: 2rem;
    padding-left: 3.8rem;
}
nav a {
    color: black;
    padding-left: 14rem;
}
nav a:hover {
    color: grey;
    transition: 0.3s;
}
#nav-space {
    padding-left: 9.4rem;
}
}

@media only screen and (min-width: 1280px) {
    #bio {
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 2rem;
    }
    #lists {
        padding-right: 0rem;
        padding-left: 0rem;
    }
#spacing {
    padding-top: 2rem;
    padding-left: 3.4rem;
}
nav a {
    color: black;
    padding-left: 19rem;
}
nav a:hover {
    color: grey;
    transition: 0.3s;
}
#nav-space {
    padding-left: 15rem;
}
img {
    max-width: 50%;
    max-height: 50%;
    padding-left: 7rem;
    padding-top: 6rem;
    position: absolute;
}
}

@media only screen and (min-width: 1440px) {
#spacing {
    padding-left: 8.2rem;
}
nav a {
    color: black;
    padding-left: 19rem;
}
nav a:hover {
    color: grey;
    transition: 0.3s;
}
#nav-space {
    padding-left: 15rem;
}
img {
    max-width: 45%;
    max-height: 45%;
    padding-left: 6rem;
    padding-top: 5rem;
    position: absolute;
}
}

@media only screen and (min-width: 1600px) {
    #spacing {
        padding-left: 13.2rem;
    }
    nav a {
        color: black;
        padding-left: 19rem;
    }
    nav a:hover {
        color: grey;
        transition: 0.3s;
    }
    #nav-space {
        padding-left: 14rem;
    }
}

@media only screen and (min-width: 1900px) {
    #spacing {
        padding-left: 22.5rem;
    }
    nav a {
        color: black;
        padding-left: 19rem;
    }
    nav a:hover {
        color: grey;
        transition: 0.3s;
    }
    #nav-space {
        padding-left: 14rem;
    }
}
