body {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-weight: 100;
}
#spacing {
    padding: 2rem 0rem 0rem;
}
nav a {
    color: black;
    padding-left: 12rem;
}
nav a:hover {
    color: grey;
}
#bio {
    padding: 0rem 6rem 0rem 0rem;
    width: 100%;
    text-align: justify;
}
.experience a {
    color: black;
}
.experience a:hover {
    color: grey;
    transition: 0.3s;
}
.social a {
    color: black;
}
.social a:hover {
    color: grey;
    transition: 0.3s;
}
.education a {
    color: black;
}
.education a:hover{
color: grey;
transition: 0.3s;
}
#lists {
    padding-left: 0px;
}